.ember-cancelable-button {
  /* height: 30px; */
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.ember-cancelable-button > .button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  position: relative;
  float: left;
}
.ember-cancelable-button > .button[disabled] {
  cursor: auto;
  background-color: grey;
  border-color: grey;
}

.ember-cancelable-button > .action-button[disabled] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ember-cancelable-button > .cancel-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
