{{#cancelable-button action=(action 'submitProposal') delay=2000}}
  Submit proposal to EmberConf
{{/cancelable-button}}

{{#if proposalSubmitted}}
  <p class="congrats-blurb">Congratulations! You submitted a proposal to EmberConf.</p>
{{/if}}

