<div class="example">
	<h3>Simple usage</h3>
  {{code-snippet name="index.hbs"}}
  {{#cancelable-button action=(action 'submitProposal') delay=2000 as |isSending|}}
    {{#if isSending}}
      Submitting...
    {{else}}
      Submit proposal to EmberConf
    {{/if}}
  {{/cancelable-button}}

  {{#if proposalSubmitted}}
    <p class="congrats-blurb">Congratulations! You submitted a proposal to EmberConf.</p>
  {{/if}}

</div>
