<div class="example">
  <p class="talk-abstract">
    I'd like to talk about better ways to cancel an action before it's made.
  </p>
  {{#cancelable-button action=(action 'submitProposal') delay=2000 as |isSending|}}
    {{#if isSending}}
      Submitting...
    {{else}}
      Submit proposal to EmberConf
    {{/if}}
  {{/cancelable-button}}

  {{#if proposalSubmitted}}
    <p class="congrats-blurb">Congratulations! You submitted a proposal to EmberConf.</p>
  {{/if}}
</div>
